<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) See4sys and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.sphinx.emf.validation.registration">
      <model
            id="autosar3x"
            filter="_3x"
            Name="AUTOSAR 3.x"
            NsURI="http://autosar.org/3.1.5/autosar3x/gs/i"
            class="autosar3x.genericstructure.infrastructure.ARObject">
      </model>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
        <clientContext id="autosar3x.ARObject.context">
            <enablement>
                <instanceof value="autosar3x.genericstructure.infrastructure.ARObject"/>
            </enablement>
        </clientContext>
   </extension>

   <extension
         point="org.eclipse.sphinx.emf.editingDomainFactoryListeners">
      <listener
            id="org.artop.aal.autosar315.validation.internal.ValidationEditingDomainFactoryListener"
            class="org.artop.aal.autosar315.validation.internal.ValidationEditingDomainFactoryListener">
         <applicableFor
               metaModelDescriptorIdPattern="org.artop.aal.autosar3x" />
      </listener>
   </extension>

</plugin>
