<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 <copyright> 
 Copyright (c) Continental Engineering Services and others.
 All rights reserved. This program and the accompanying materials are made
 available under the terms of the Artop Software License Based on AUTOSAR
 Released Material (ASLR) which accompanies this distribution, and is
 available at http://www.artop.org/aslr.html
 Contributors: 
      Continental Engineering Services - Initial API and implementation
  
 </copyright>
 -->

<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <binding
            category="org.artop.aal.autosar21.constraints.ecuc"
            context="autosar21.ARObject.context">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.artop.aal.autosar21.constraints.ecuc"
            mandatory="false"
            name="AAL Constraints for Ecuc Descriptions">
         Constraints for validating ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar21.constraints.ecuc/StructuralIntegrity"
            mandatory="false"
            name="Structural Integrity">
         Constraints for validating the structural integrity of ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar21.constraints.ecuc/Basic"
            mandatory="false"
            name="Basic Completeness and Consistency">
         Constraints for validating basic completeness and consistency of ECUC descriptions.
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://autosar.org/2.1.5/autosar21/ecucd">
         </package>
         <package
               namespaceUri="http://autosar.org/2.1.5/autosar21/ecucpd">
         </package>
         <constraints
               categories="org.artop.aal.autosar21.constraints.ecuc/Basic">
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.ModuleConfigurationBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ModuleConfigurationBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ModuleConfiguration"
                  severity="ERROR"
                  statusCode="0010013">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'definition' of a ModuleConfiguration.
               </description>
               <target
                     class="ModuleConfiguration">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ContainerBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="Container"
                  severity="ERROR"
                  statusCode="0010014">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'definition' of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GParamConfMultiplicityBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ParamConfMultiplicityBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ParamConfMultiplicityBasicConstraint"
                  severity="ERROR"
                  statusCode="0010001">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'lowerMultiplicity' and 'upperMultiplicity' of ParamConfMultiplicity:
               If 'lowerMultiplicity' is set, then it shall be a positive integer.
               If 'upperMultiplicity' is set, then it shall be a positive integer or "*".
               </description>
               <target
                     class="ParamConfMultiplicity">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.BooleanValueConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.BooleanValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="BooleanValue"
                  severity="ERROR"
                  statusCode="0010008">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a BooleanValue.
               </description>
               <target
                     class="BooleanValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.IntegerValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.IntegerValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="IntegerValue"
                  severity="ERROR"
                  statusCode="0010007">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a IntegerValue.
               </description>
               <target
                     class="IntegerValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.FloatValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.FloatValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="FloatValue"
                  severity="ERROR"
                  statusCode="0010009">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a FloatValue.
               </description>
               <target
                     class="FloatValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.StringValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.StringValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="StringValue"
                  severity="ERROR"
                  statusCode="0010004">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a StringValue.
               </description>
               <target
                     class="StringValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.FunctionNameValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.FunctionNameValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="FunctionNameValue"
                  severity="ERROR"
                  statusCode="0010005">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a FunctionNameValue.
               </description>
               <target
                     class="FunctionNameValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.LinkerSymbolValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.LinkerSymbolValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="LinkerSymbolValue"
                  severity="ERROR"
                  statusCode="0010006">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a LinkerSymbolValue.
               </description>
               <target
                     class="LinkerSymbolValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.EnumerationValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.EnumerationValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="EnumerationValue"
                  severity="ERROR"
                  statusCode="0010010">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a EnumerationValue.
               </description>
               <target
                     class="EnumerationValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GReferenceValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ReferenceValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ReferenceValue"
                  severity="ERROR"
                  statusCode="0010011">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a ReferenceValue.
               </description>
               <target
                     class="ReferenceValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.InstanceReferenceValueBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.InstanceReferenceValueBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="InstanceReferenceValue"
                  severity="ERROR"
                  statusCode="0010012">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'value' and 'definition' of a InstanceReferenceValue.
               </description>
               <target
                     class="InstanceReferenceValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GReferenceDefBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ReferenceParamDefBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ReferenceParamDefBasicConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'destination' of ReferenceParamDef.   
               A resolvable 'destination' is expected.
               </description>
               <target
                     class="ReferenceDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GChoiceReferenceDefBasicConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ChoiceReferenceParamDefBasicConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ChoiceReferenceParamDefBasicConstraint"
                  severity="ERROR"
                  statusCode="0010003">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'destinations' of ChoiceReferenceParamDef. 
               At least one 'destination' is expected. All 'destinations' shall be resolvable.
               </description>
               <target
                     class="ChoiceReferenceDef">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="org.artop.aal.autosar21.constraints.ecuc/StructuralIntegrity">
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.ModuleConfigurationSubContainerMultiplicityConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ModuleConfigurationSubContainerMultiplicityConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ModuleConfigurationSubContainerMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0020005">
               <message>
                  {0}
               </message>
               <description>
                  Validates the multiplicity of the containers of a ModuleConfiguration.
               </description>
               <target
                     class="ModuleConfiguration">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar21.constraints.ecuc.ContainerSubContainerMultiplicityConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ContainerSubContainerMultiplicityConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerSubContainerMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0020004">
               <message>
                  {0}
               </message>
               <description>
                  Validates the multiplicity of the subContainers of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerParameterValueMultiplicityConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ContainerParameterValueMultiplicityConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerParameterValueMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0020006">
               <message>
                  {0}
               </message>
               <description>
                  Validates the multiplicity of the parameterValues of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerReferenceValueMultiplicityConstraint"
                  id="org.artop.aal.autosar21.constraints.ecuc.ContainerReferenceValueMultiplicityConstraint_21"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerReferenceValueMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0020007">
               <message>
                  {0}
               </message>
               <description>
                  Validates the multiplicity of the referenceValues of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   

</plugin>
