<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) BMW Car IT and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    BMW Car IT - Initial API and implementation

</copyright>
-->

<plugin>
   <extension
         point="org.artop.ecl.emf.validation.constraintCallHandlers">
      <constraintCallHandler
            class="org.artop.aal.examples.validation.autosar21.constraints.ModeSwitchStartsWithMSCCHandler">
      </constraintCallHandler>
   </extension>

    <!-- Example contraint categroy definition -->
  

   <!-- The example contraints themselves -->


</plugin>
