<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.artop.aal.gautosar.services.metaModelServices">
      <descriptor
            descriptorID="org.artop.aal.autosar20">
         <service
               class="org.artop.aal.examples.validation.constraints.tests.mock.MockSwcPredicatesService"
               name="org.artop.aal.gautosar.services.predicates.swc.ISwcPredicatesService"
               override="org.artop.aal.gautosar.services.predicates.swc.GSwcPredicatesService">
         </service>
      </descriptor>
      <descriptor
            descriptorID="org.artop.aal.autosar21">
         <service
               class="org.artop.aal.examples.validation.constraints.tests.mock.MockSwcPredicatesService"
               name="org.artop.aal.gautosar.services.predicates.swc.ISwcPredicatesService"
               override="org.artop.aal.gautosar.services.predicates.swc.GSwcPredicatesService">
         </service>
      </descriptor>
      <descriptor
            descriptorID="org.artop.aal.autosar3x">
         <service
               class="org.artop.aal.examples.validation.constraints.tests.mock.MockSwcPredicatesService"
               name="org.artop.aal.gautosar.services.predicates.swc.ISwcPredicatesService"
               override="org.artop.aal.gautosar.services.predicates.swc.GSwcPredicatesService">
         </service>
      </descriptor>
      <descriptor
            descriptorID="org.artop.aal.autosar40">
         <service
               class="org.artop.aal.examples.validation.constraints.tests.mock.MockSwcPredicatesService"
               name="org.artop.aal.gautosar.services.predicates.swc.ISwcPredicatesService"
               override="org.artop.aal.gautosar.services.predicates.swc.GSwcPredicatesService">
         </service>
      </descriptor>
   </extension>

</plugin>
