<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 
 Copyright (c) Geensys and others.
 All rights reserved. This program and the accompanying materials are made
 available under the terms of the Artop Software License Based on Released
 AUTOSAR Material (ASLR) which accompanies this distribution, and is available
 at http://www.artop.org/aslr.html
 
 Contributors: 
     Geensys - Initial API and implementation
 
 </copyright>
-->

<!-- org.artop.aal.validation.ui -->

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.artop.aal.workspace.ui.preferencePages.autosar"
            class="org.artop.ecl.emf.validation.ui.preferences.ValidationPreferencesPage"
            id="org.artop.aal.validation.ui.preferences.validation"
            name="%UI_org.artop.aal.validation.ui.preferences.validation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider 
            id="org.artop.aal.validation.ui.actions.autosarValidationActions"
            class="org.artop.aal.validation.ui.actions.providers.AutosarValidationActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IContainer" />
                  <test 
                        property="org.eclipse.core.resources.projectNature"
                        value="org.artop.aal.workspace.autosarnature" />
               </and>
               <and>
                  <instanceof value="org.eclipse.core.resources.IFile" />
                  <test 
                        property="org.artop.aal.workspace.isAutosarContent"
                        value="true" />
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject" />
                  <test
                        property="org.artop.ecl.emf.classNameMatches"
                        value="autosar\d\w\..*" />
               </and>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
