<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <!-- Example contraint categroy definition -->

    <extension point="org.eclipse.emf.validation.constraintBindings">    
        <binding
            context="autosar3x.ARObject.context"
            category="org.artop.aal.examples.constraints.category.autosar3x"/>
    </extension>
  
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%constraintsCategory_examples_autosar3x.name"
            id="org.artop.aal.examples.constraints.category.autosar3x">
         %constraintsCategory_examples_autosar3x.description
      </category>
      <category
            name="%constraintsCategory_examples_autosar3x_dynamic.name"
            id="org.artop.aal.examples.constraints.category.autosar3x/dynamic">
         %constraintsCategory_examples_autosar3x_dynamic.description
      </category>
      <category
            name="%constraintsCategory_examples_autosar3x_static.name"
            id="org.artop.aal.examples.constraints.category.autosar3x/static">
         %constraintsCategory_examples_autosar3x_static.description
      </category>
   </extension> 

   <!-- The example contraints themselves -->

   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider cache="true">
      
       <package namespaceUri="http://autosar.org/3.1.1/autosar3x/gs/i/a"/>
       <package namespaceUri="http://autosar.org/3.1.1/autosar3x/ecucpd"/>
 
        <constraints categories="org.artop.aal.examples.constraints.category.autosar3x/static">
            <constraint
                  class="org.artop.aal.examples.validation.constraints.ModuleDefMultiplicityShouldBeTheSame3xConstraint"
                  id="ModuleDefMultiplicityShouldBeTheSame_3x"
                  lang="Java"
                  mode="Live"
                  name="%ModuleDefMultiplicityShouldBeTheSame_3x.name"
                  severity="ERROR"
                  statusCode="101">
               <description>%ModuleDefMultiplicityShouldBeTheSame_3x.desc</description>
               <message>%ModuleDefMultiplicityShouldBeTheSame_3x.msg</message>
               <target
                     class="ModuleDef">
                  <event
                        name="Set">
                     <feature
                           name="lowerMultiplicity">
                     </feature>
                     <feature
                           name="upperMultiplicity">
                     </feature>
                  </event>
                  <event name="Unset">
                    <feature 
                          name="lowerMultiplicity">
                    </feature>
                    <feature
                           name="upperMultiplicity">
                     </feature>
                  </event>
               </target>
            </constraint>

            <constraint
                  class="org.artop.aal.examples.validation.constraints.ARPackageSpecificNamingConvention3xConstraint"
                  id="ARPackageSpecificNamingConvention_3x"
                  lang="Java"
                  mode="Live"
                  name="%ARPackageSpecificNamingConvention_3x.name"
                  severity="WARNING"
                  statusCode="101">
               <description>%ARPackageSpecificNamingConvention_3x.desc</description>
               <message>%ARPackageSpecificNamingConvention_3x.msg</message>
               <target
                     class="ARPackage">
                  <event
                        name="Set">
                     <feature
                           name="shortName">
                     </feature>
                  </event>
                  <event name="Unset">
                    <feature 
                          name="shortName">
                    </feature>
                  </event>
               </target>
            </constraint>                         
         </constraints>    
      </constraintProvider>           
    </extension>
</plugin>
