<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) Geensys and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    Geensys - Initial API and implementation

</copyright>
-->

<plugin>

    <!-- Example contraint categroy definition -->
  

   <!-- The example contraints themselves -->

    <extension point="org.eclipse.emf.validation.constraintBindings">    
        <binding
            context="gautosar.GARObject.context"
            category="org.artop.aal.examples.constraints.category.gautosar"/>
    </extension>

   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.artop.aal.examples.constraints.category.gautosar"
            name="%constraintsCategory_examples_gautosar.name">
         %constraintsCategory_examples_autosar3x.description
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
      
       <package namespaceUri="http://autosar.org/*"/>
       <package namespaceUri="http://artop.org/gautosar/gs/in"/>
        <package
              namespaceUri="http://artop.org/gautosar/swc/pi">
        </package>
        <package
              namespaceUri="http://artop.org/gautosar/swc/d/dp">
        </package>
 
        <constraints categories="org.artop.aal.examples.constraints.category.gautosar">
           <constraint
                 class="org.artop.aal.examples.validation.constraints.CSInterfaceStartsWithCSConstraint"
                 id="org.artop.aal.examples.validation.gautosar.csifcnaming"
                 lang="java"
                 mode="Batch"
                 name="%CSInterfaceNamingConvention.name"
                 severity="ERROR"
                 statusCode="200">
              <message>
                 %CSInterfaceNamingConvention.msg
              </message>
              <description>
                 %CSInterfaceNamingConvention.desc
              </description>
              <target
                    class="GClientServerInterface">
              </target>
           </constraint>
           <constraint
                 class="org.artop.aal.examples.validation.constraints.DataPrototypeHasTypeConstraint"
                 id="org.artop.aal.examples.validation.gautosar.dataprototypehastype"
                 lang="java"
                 mode="Batch"
                 name="%DataPrototypeHasType.name"
                 severity="ERROR"
                 statusCode="201">
              <message>
                 %DataPrototypeHasType.msg
              </message>
              <description>
                 %DataPrototypeHasType.desc
              </description>
              <target
                    class="GAutosarDataPrototype">
              </target>
           </constraint>
           <constraint
                 class="org.artop.aal.examples.validation.constraints.ModeSwitchInterfaceStartsWithMSConstraint"
                 id="org.artop.aal.examples.validation.gautosar.msifcnaming"
                 lang="java"
                 mode="Batch"
                 name="%MSInterfaceNamingConvention.name"
                 severity="ERROR"
                 statusCode="202">
              <message>
                 %MSInterfaceNamingConvention.msg
              </message>
              <description>
                 %MSInterfaceNamingConvention.desc
              </description>
              <target
                    class="GPortInterface">
              </target>
           </constraint>
            
            <!-- TUTO: Modify this constraint such that it checks the uniqueness of Identifable shortNames rather than ModuleDef muliplicities -->
            
            
         </constraints>    
      </constraintProvider>           
    </extension>
</plugin>
