<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider 
            id="org.artop.aal.examples.validation.ui.autosarValidationExampleActions"
            class="org.artop.aal.examples.validation.ui.actions.providers.AutosarValidationExampleActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IContainer" />
                  <test property="org.eclipse.core.resources.projectNature"
                        value="org.artop.aal.workspace.autosarnature" />
               </and>
               <and>
                  <instanceof value="org.eclipse.core.resources.IFile" />
                  <test forcePluginActivation="true"
                		property="org.artop.ecl.emf.metaModelIdMatches"
                		value="org.artop.aal.autosar\d\w" />
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject" />
                  <test property="org.artop.ecl.emf.classNameMatches"
                        value="autosar\d\w\..*" />
               </and>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
