<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.artop.aal.validation.ui.preferences.validation"
            class="org.artop.aal.autosar3x.validation.ui.preferences.Constraint3xPreferencePage"
            id="org.artop.aal.autosar3x.validation.ui.validation3x"
            name="%UI_org.artop.aal.autosar3x.validation.ui.autosar3x">
      </page>
   </extension>

</plugin>
