<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) 2008-2010 See4sys and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>
  <extension point="org.eclipse.ui.views">
    <view allowMultiple="false"
          name="%sphinx.examples.validation.ui.views.validation.name"
          icon="$nl$/icons/full/eview16/validation_view.gif"
          category="org.eclipse.sphinx.examples.common.ui.views.category.sphinxExampleViews"
          class="org.eclipse.sphinx.emf.validation.ui.views.ValidationView"
          id="org.eclipse.sphinx.examples.validation.ui.views.validation" />
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <actionProvider id="org.eclipse.sphinx.examples.validation.ui.actions.basicValidationExampleActions"
                    class="org.eclipse.sphinx.examples.validation.ui.actions.providers.BasicValidationExampleActionProvider">
      <enablement>
        <or>
          <instanceof value="org.eclipse.core.resources.IResource" />
          <instanceof value="org.eclipse.emf.ecore.EObject" />
        </or>
      </enablement>
    </actionProvider>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="org.eclipse.sphinx.examples.validation.ui.actionSet1"
           label="%validation_actionSet"
           visible="true">
        <menu
              id="validationMenu"
              label="%ValidateMenu_title">
           <groupMarker
                 name="group">
           </groupMarker>
        </menu>
        <action
              class="org.eclipse.sphinx.emf.validation.ui.actions.contributor.AutomaticValidationActionContributor"
              id="org.eclipse.sphinx.examples.validation.ui.action..validateAutomatically"
              label="%ValidateAutomaticallyMenu_label"
              menubarPath="validationMenu/group"
              style="toggle">
        </action>
     </actionSet>
  </extension>
</plugin>
