<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright> 
 Copyright (c) OpenSynergy, Continental Engineering Services and others.
 All rights reserved. This program and the accompanying materials are made
 available under the terms of the Artop Software License Based on AUTOSAR
 Released Material (ASLR) which accompanies this distribution, and is
 available at http://www.artop.org/aslr.html
 Contributors: 
      OpenSynergy - Initial API and implementation for AUTOSAR 3.x
      Continental Engineering Services -migration to gautosar 
      see4Sys
 </copyright>
 -->

<plugin>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc"
            mandatory="false"
            name="AAL Constraints for Ecuc Descriptions">
      Constraints for validating ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc/Multiplicity"
            mandatory="false"
            name="Multiplicity">
      Constraints for validating the multiplicity of elements in ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc/Basic"
            mandatory="false"
            name="Basic Completeness and Consistency">
      Constraints for validating basic completeness and consistency of ECUC descriptions.
      </category>
      
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://autosar.org/3.2.0/autosar3x/ecucd"/>
         <package namespaceUri="http://autosar.org/3.2.0/autosar3x/ecucpd"/>

         <constraints categories="org.artop.aal.autosar3x.constraints.ecuc/Basic">
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ModuleConfiguration"
                  severity="ERROR"
                  statusCode="0010013">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'definition' of a ModuleConfiguration.
               </description>
               <target
                     class="ModuleConfiguration">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="Container"
                  severity="ERROR"
                  statusCode="0010014">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'definition' of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
             <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GParamConfMultiplicityBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfMultiplicityBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParamConfMultiplicityBasicConstraint"
                  severity="ERROR"
                  statusCode="0010001">
               <message>
                  {0}
               </message>
               <description>
               Validates 'lowerMultiplicity' and 'upperMultiplicity' of ParamConfMultiplicity:
               If 'lowerMultiplicity' is set, then it shall be a positive integer.
               If 'upperMultiplicity' is set, then it shall be a positive integer or "*".           
               </description>
               <target
                     class="ParamConfMultiplicity">
               </target>
            </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.BooleanValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.BooleanValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="BooleanValue"
                   severity="ERROR"
                   statusCode="0010008">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a BooleanValue.
                </description>
                <target
                      class="BooleanValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.IntegerValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.IntegerValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="IntegerValue"
                   severity="ERROR"
                   statusCode="0010007">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a IntegerValue.
                </description>
                <target
                      class="IntegerValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.FloatValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.FloatValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="FloatValue"
                   severity="ERROR"
                   statusCode="0010009">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a FloatValue.
                </description>
                <target
                      class="FloatValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.StringValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.StringValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="StringValue"
                   severity="ERROR"
                   statusCode="0010004">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a StringValue.
                </description>
                <target
                      class="StringValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.FunctionNameValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.FunctionNameValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="FunctionNameValue"
                   severity="ERROR"
                   statusCode="0010005">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a FunctionNameValue.
                </description>
                <target
                      class="FunctionNameValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.LinkerSymbolValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.LinkerSymbolValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="LinkerSymbolValue"
                   severity="ERROR"
                   statusCode="0010006">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a LinkerSymbolValue.
                </description>
                <target
                      class="LinkerSymbolValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.EnumerationValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.EnumerationValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="EnumerationValue"
                   severity="ERROR"
                   statusCode="0010010">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a EnumerationValue.
                </description>
                <target
                      class="EnumerationValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.gautosar.constraints.ecuc.GReferenceValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.ReferenceValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="ReferenceValue"
                   severity="ERROR"
                   statusCode="0010011">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a ReferenceValue.
                </description>
                <target
                      class="ReferenceValue">
                </target>
             </constraint>
             <constraint
                   class="org.artop.aal.autosar3x.constraints.ecuc.InstanceReferenceValueBasicConstraint"
                   id="org.artop.aal.autosar3x.constraints.ecuc.InstanceReferenceValueBasicConstraint_3x"
                   lang="JAVA"
                   mode="Batch"
                   name="InstanceReferenceValue"
                   severity="ERROR"
                   statusCode="0010012">
                <message>
                   {0}
                </message>
                <description>
                   Validates 'value' and 'definition' of a InstanceReferenceValue.
                </description>
                <target
                      class="InstanceReferenceValue">
                </target>
             </constraint>
            
              <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GReferenceDefBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ReferenceParamDefBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ReferenceParamDefBasicConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'destination' of ReferenceParamDef.   
               A resolvable 'destination' is expected.       
               </description>
               <target
                     class="ReferenceParamDef">
               </target>
            </constraint>
            
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GChoiceReferenceDefBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ChoiceReferenceParamDefBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ChoiceReferenceParamDefBasicConstraint"
                  severity="ERROR"
                  statusCode="0010003">
               <message>
                  {0}
               </message>
               <description>
               Validates 'destinations' of ChoiceReferenceParamDef. 
               At least one 'destination' is expected. All 'destinations' shall be resolvable.     
               </description>
               <target
                     class="ChoiceReferenceParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GConfigParameterDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigParameterDefaultValueConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The default value of the Configuration Parameter of the Vendor Specific Module Definition has been changed from the referenced Module Definition.
               </description>
               <target
                     class="ConfigParameter">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GModuleDefContainerDefinitionMissingConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ModuleDefContainerDefinitionMissingConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ModuleDefContainerDefinitionMissingConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The containers defined into the Vendor Specific Module Definition must respect the lower multiplicity of the container definition defined into the referenced Module Definition.
               </description>
               <target
                     class="ModuleDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GParamConfContainerDefConfigParameterMissingConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfContainerDefConfigParameterMissingConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParamConfContainerDefConfigParameterMissingConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The parameters defined into the Vendor Specific Module Definition must respect the lower multiplicity of the parameter definition defined into the referenced Module Definition.
               </description>
               <target
                     class="ParamConfContainerDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GParamConfContainerDefConfigReferenceMissingConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfContainerDefConfigReferenceMissingConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParamConfContainerDefConfigReferenceMissingConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The parameters defined into the Vendor Specific Module Definition must respect the lower multiplicity of the parameter definition defined into the referenced Module Definition.
               </description>
               <target
                     class="ParamConfContainerDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GEnumerationParamDefEnumerationLiteralConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.EnumerationParamDefEnumerationLiteralConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="EnumerationParamDefEnumerationLiteralConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The literals values of Enumeration Parameter Definition of the Vendor Specific Module Definition has been changed from the referenced Module Definition.
               </description>
               <target
                     class="EnumerationParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GConfigParameterSymbolicNameValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterSymbolicNameValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigParameterSymbolicNameValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The "Symbolic Name Value" variant of a Configuration Parameter must be declared only once inside each Container Definition (in a Vendor Specific Module Definition).
               </description>
               <target
                     class="ConfigParameter">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GStringParamDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.StringParamDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="StringParamDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'defaultValue' of StringParamDef
               </description>
               <target
                     class="StringParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GLinkerSymbolDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.LinkerSymbolDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="LinkerSymbolDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'defaultValue' of LinkerSymbolDef
               </description>
               <target
                     class="LinkerSymbolDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GFunctionNameDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.FunctionNamelDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="FunctionNameDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  Validates 'defaultValue' of FunctionNameDef
               </description>
               <target
                     class="FunctionNameDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="IntegerParamDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The default value of an Integer Parameter Definition must be included in the declared range.
               </description>
               <target
                     class="IntegerParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="FloatParamDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The default value of an Float Parameter Definition must be included in the declared range.
               </description>
               <target
                     class="FloatParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GEnumerationParamDefDefaultValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.EnumerationParamDefDefaultValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="EnumerationParamDefDefaultValueConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The default value of a Enumeration Parameter must be declared literal.
               </description>
               <target
                     class="EnumerationParamDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ImplementationConfigClassPreCompileConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ImplementationConfigClassPreCompileConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ImplementationConfigClassPreCompileConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The Configuration Class associated to the "Pre-Compile" Configuration Variant must be respectively "Published Information" or "Pre-Compile"
               </description>
               <target
                     class="ImplementationConfigClass">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ImplementationConfigClassLinkTimeConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ImplementationConfigClassLinkTimeConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ImplementationConfigClassLinkTimeConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The Configuration Class associated to the &quot;Link-Time&quot; Configuration Variant must be respectively &quot;Published Information&quot;, &quot;Pre-Compile&quot;, or &quot;Link-Time&quot;
               </description>
               <target
                     class="ImplementationConfigClass">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceValueBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceValueBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigReferenceValueBasicConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  Reference Value should be set
               </description>
               <target
                     class="ConfigReferenceValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ParameterValueBasicConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParameterValueBasicConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParameterValueBasicConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  Parameter Value should be set.
               </description>
               <target
                     class="ParameterValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterImplConfigClassConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterImplConfigClassConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigParameterImplConfigClassConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The Implementation Configuration Class variant of the Parameter Definition of the Vendor Specific Module Definition has been changed from the refined Module Definition
               </description>
               <target
                     class="ConfigParameter">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerDefContainerDefinitionMissingConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerDefContainerDefinitionMissingConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerDefContainerDefinitionMissingConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The containers defined into the Vendor Specific Module Definition must respect the lower multiplicity of the container definition defined into the referenced Module Definition
               </description>
               <target
                     class="ContainerDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefLowerLimitConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefLowerLimitConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="FloatParamDefLowerLimitConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The lower limit of the Float Parameter Definition of the Vendor Specific Module Definition has been changed from the referenced Module Definition
               </description>
               <target
                     class="FloatParamDef">
               </target>
            </constraint>
            <constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefUpperLimitConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.FloatParamDefUpperLimitConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="FloatParamDefUpperLimitConstraint"
               severity="WARNING"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upper limit of the Float Parameter Definition of the Vendor Specific Module Definition has been changed from the referenced Module Definition.
            </description>
            <target
                  class="FloatParamDef">
            </target>
         </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefLowerLimitConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefLowerLimitConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="IntegerParamDefLowerLimitConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The lower limit of the Integer Parameter Definition of the Vendor Specific Module Definition has been changed from the referenced Module Definition
               </description>
               <target
                     class="IntegerParamDef">
               </target>
            </constraint>
            <constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefUpperLimitConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.IntegerParamDefUpperLimitConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="IntegerParamDefUpperLimitConstraint"
               severity="WARNING"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upper limit of the Integer Parameter Definition of the Vendor Specific Module Definition has been changed from the referenced Module Definition.
            </description>
            <target
                  class="IntegerParamDef">
            </target>
         </constraint>
         <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ParamConfContainerDefMultipleConfigurationModifyConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfContainerDefMultipleConfigurationModifyConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParamConfContainerDefMultipleConfigurationModifyConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The "Multiple Configuration Container" variant of a Parameter Configuration Container Definition inside a Vendor Specific Module Definition has been changed from the Refined Module Definition
               </description>
               <target
                     class="ParamConfContainerDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ContainerDefPostBuildChangeableModifyConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerDefPostBuildChangeableModifyConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerDefPostBuildChangeableModifyConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The "Post-Build Changeable" variant of a Container Definition inside a Vendor Specific Module Definition has been changed from the Refined Module Definition
               </description>
               <target
                     class="ContainerDef">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterSymbolicNameValueModifyConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterSymbolicNameValueModifyConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigParameterSymbolicNameValueModifyConstraint"
                  severity="WARNING"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The "Symbolic Name Value" variant of a Configuration Parameter inside a Vendor Specific Module Definition has been changed from the Refined Module Definition
               </description>
               <target
                     class="ConfigParameter">
               </target>
            </constraint>
            <constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.EcuConfigurationModuleConfigurationLowerMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.EcuConfigurationModuleConfigurationLowerMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="EcuConfigurationModuleConfigurationLowerMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The Module Configuration referenced in each ECU Configuration must respect the lower multiplicity of the imported Module Definition.
            </description>
            <target
                  class="EcuConfiguration">
            </target>
         </constraint>
		<constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.EcuConfigurationModuleConfigurationUpperMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.EcuConfigurationModuleConfigurationUpperMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="EcuConfigurationModuleConfigurationUpperMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The Module Configuration referenced in each ECU Configuration must respect the upper multiplicity of the imported Module Definition.
            </description>
            <target
                  class="EcuConfiguration">
            </target>
         </constraint>
      </constraints>
      <constraints categories="org.artop.aal.autosar3x.constraints.ecuc/Multiplicity">
         <constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationSubContainerMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationSubContainerMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ModuleConfigurationSubContainerMultiplicityConstraint"
               severity="ERROR"
               statusCode="0020005">
            <message>
               {0}
            </message>
            <description>
               Validates the multiplicity of the containers of a ModuleConfiguration.
            </description>
            <target
                  class="ModuleConfiguration">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.autosar3x.constraints.ecuc.ContainerSubContainerMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ContainerSubContainerMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ContainerSubContainerMultiplicityConstraint"
               severity="ERROR"
               statusCode="0020004">
            <message>
               {0}
            </message>
            <description>
               Validates the multiplicity of the subContainers of a Container.
            </description>
            <target
                  class="Container">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GContainerParameterValueMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ContainerParameterValueMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ContainerParameterValueMultiplicityConstraint"
               severity="ERROR"
               statusCode="0020006">
            <message>
               {0}
            </message>
            <description>
               Validates the multiplicity of the parameterValues of a Container.
            </description>
            <target
                  class="Container">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GContainerReferenceValueMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ContainerReferenceValueMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ContainerReferenceValueMultiplicityConstraint"
               severity="ERROR"
               statusCode="0020007">
            <message>
               {0}
            </message>
            <description>
               Validates the multiplicity of the referenceValues of a Container.
            </description>
            <target
                  class="Container">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GConfigParameterLowerMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterLowerMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ConfigParameterLowerMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The lower multiplicity of the Parameter Definition of the Vendor Specific Module Definition must respect the lower multiplicity of the corresponding Parameter Definition defined in the refined Module Definition.
            </description>
            <target
                  class="ConfigParameter">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GConfigParameterUpperMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ConfigParameterUpperMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ConfigParameterUpperMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upper multiplicity of the Parameter Definition of the Vendor Specific Module Definition must respect the upper multiplicity of the corresponding Parameter Definition defined in the refined Module Definition.
            </description>
            <target
                  class="ConfigParameter">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GConfigReferenceLowerMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceLowerMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ConfigReferenceLowerMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The lower multiplicity of the Reference Definition of the Vendor Specific Module Definition must respect the lower multiplicity of the corresponding Reference Definition defined in the refined Module Definition.
            </description>
            <target
                  class="ConfigReference">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GConfigReferenceUpperMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceUpperMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ConfigReferenceUpperMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upper multiplicity of the Reference Definition of the Vendor Specific Module Definition must respect the upper multiplicity of the corresponding Reference Definition defined in the refined Module Definition.
            </description>
            <target
                  class="ConfigReference">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GParamConfContainerDefInChoiceContainerDefMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfContainerDefInChoiceContainerDefMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ParamConfContainerDefInChoiceContainerDefMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The multiplicity of ParamConfContainerDef contained into ChoiceContainerDef object must be set to [0,1].
            </description>
            <target
                  class="ParamConfContainerDef">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GParamConfMultiplicityConsistencyConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ParamConfMultiplicityConsistencyConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ParamConfMultiplicityConsistencyConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               Lower multiplicity must not be greater than upper multiplicity.
            </description>
            <target
                  class="ParamConfMultiplicity">
            </target>
         </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GModuleConfigurationChoiceContainerDefMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationChoiceContainerDefMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ModuleConfigurationChoiceContainerDefMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upperMultiplicity of the ChoiceContainerDef does specify how often the choice can be performed. If the upperMultiplicity of the ChoiceContainerDef &gt; 1, the sum of the chosen containers has to be considered.
            </description>
            <target
                  class="ModuleConfiguration">
            </target>
         </constraint>
         <constraint
                  class="org.artop.aal.gautosar.constraints.ecuc.GContainerDefLowerMultiplicityConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerDefLowerMultiplicityConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerDefLowerMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0000000">
               <message>
                  {0}
               </message>
               <description>
                  The lower multiplicity of the Container Definition of the Vendor Specific Module Definition must respect the lower multiplicity of the corresponding Container Definition defined in the refined Module Definition
               </description>
               <target
                     class="ContainerDef">
               </target>
            </constraint>
         <constraint
               class="org.artop.aal.gautosar.constraints.ecuc.GContainerDefUpperMultiplicityConstraint"
               id="org.artop.aal.autosar3x.constraints.ecuc.ContainerDefUpperMultiplicityConstraint_3x"
               lang="JAVA"
               mode="Batch"
               name="ContainerDefUpperMultiplicityConstraint"
               severity="ERROR"
               statusCode="0000000">
            <message>
               {0}
            </message>
            <description>
               The upper multiplicity of the Container Definition of the Vendor Specific Module Definition must respect the upper multiplicity of the corresponding Container Definition defined in the refined Module Definition.
            </description>
            <target
                  class="ContainerDef">
            </target>
         </constraint>
        </constraints>     
      </constraintProvider>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintBindings">    
        <binding
            context="autosar3x.ARObject.context"
            category="org.artop.aal.autosar3x.constraints.ecuc"/>
   </extension>

</plugin>
