<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc"
            mandatory="false"
            name="AAL Constraints for Ecuc Descriptions">
      Constraints for validating ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc/StructuralIntegrity"
            mandatory="false"
            name="Structural Integrity">
      Constraints for validating the structural integrity of ECUC descriptions.
      </category>
      <category
            id="org.artop.aal.autosar3x.constraints.ecuc/Basic"
            mandatory="false"
            name="Basic Completeness and Consistency">
      Constraints for validating basic completeness and consistency of ECUC descriptions.
      </category>
      
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://autosar.org/3.1.2/autosar3x/ecucd"/>

         <constraints categories="org.artop.aal.autosar3x.constraints.ecuc/Basic">
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.StringValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.StringValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="StringValue"
                  severity="ERROR"
                  statusCode="0010001">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a StringValue.               
               </description>
               <target
                     class="StringValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.FunctionNameValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.FunctionNameValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="FunctionNameValue"
                  severity="ERROR"
                  statusCode="0010001">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a FunctionNameValue.         
               </description>
               <target
                     class="FunctionNameValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.LinkerSymbolValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.LinkerSymbolValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="LinkerSymbolValue"
                  severity="ERROR"
                  statusCode="0010001">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a LinkerSymbolValue.         
               </description>
               <target
                     class="LinkerSymbolValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.IntegerValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.IntegerValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="IntegerValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a IntegerValue. 
               </description>
               <target
                     class="IntegerValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.BooleanValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.BooleanValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="BooleanValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a BooleanValue. 
               </description>
               <target
                     class="BooleanValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.FloatValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.FloatValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="FloatValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a FloatValue. 
               </description>
               <target
                     class="FloatValue">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.EnumerationValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.EnumerationValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="EnumerationValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a FloatValue. 
               </description>
               <target
                     class="EnumerationValue">
               </target>
            </constraint>
            
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ReferenceValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ReferenceValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ReferenceValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a ReferenceValue. 
               </description>
               <target
                     class="ReferenceValue">
               </target>
            </constraint>
            
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.InstanceReferenceValueConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.InstanceReferenceValueConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="InstanceReferenceValue"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'value' and 'definition' of a InstanceReferenceValue. 
               </description>
               <target
                     class="InstanceReferenceValue">
               </target>
            </constraint>
            
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ModuleConfigurationConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ModuleConfiguration"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'definition' of a ModuleConfiguration. 
               </description>
               <target
                     class="ModuleConfiguration">
               </target>
            </constraint>
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ContainerConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="Container"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Validates 'definition' of a Container. 
               </description>
               <target
                     class="Container">
               </target>
            </constraint>
            
      </constraints>
      <constraints categories="org.artop.aal.autosar3x.constraints.ecuc/StructuralIntegrity">      
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceValueStructuralIntegrityConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ConfigReferenceValueStructuralIntegrityConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ConfigReferenceValueStructuralIntegrityConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Valiates the structural integrity of a ConfigReferenceValue. i.e. Does the ECUC Parameter Definition allows a the reference in the parent Container?  
               </description>
               <target
                     class="ConfigReferenceValue">
               </target>
            </constraint>  
            
           <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ParameterValueStructuralIntegrityConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ParameterValueStructuralIntegrityConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ParameterValueStructuralIntegrityConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Valiates the structural integrity of a ParameterValue. i.e. Does the ECUC Parameter Definition allows the parameter in the parent Container?
               </description>
               <target
                     class="ParameterValue">
               </target>
            </constraint>     
            
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ContainerStructuralIntegrityConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerStructuralIntegrityConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerStructuralIntegrityConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Valiates the structural integrity of a Container i.e. Does the ECUC Parameter Definition allows the container in the parent Container or parent MouleConfiguration?
               </description>
               <target
                     class="Container">
               </target>
            </constraint> 
            
            <constraint
                  class="org.artop.aal.autosar3x.constraints.ecuc.ContainerMultiplicityConstraint"
                  id="org.artop.aal.autosar3x.constraints.ecuc.ContainerMultiplicityConstraint_3x"
                  lang="JAVA"
                  mode="Batch"
                  name="ContainerMultiplicityConstraint"
                  severity="ERROR"
                  statusCode="0010002">
               <message>
                  {0}
               </message>
               <description>
               Valiates the multiplicity of the subContainers of a Container.
               </description>
               <target
                     class="Container">
               </target>
            </constraint> 
            
         </constraints>     
      </constraintProvider>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintBindings">    
        <binding
            context="autosar3x.ARObject.context"
            category="org.artop.aal.autosar3x.constraints.ecuc"/>
   </extension>

</plugin>
