<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider 
            id="org.artop.ecl.examples.sphinx.validation.ui.sphinxValidationExampleActions"
            class="org.artop.ecl.emf.validation.ui.actions.providers.BasicValidationActionProvider">
         <enablement>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IFile" />
                  <test 
                      forcePluginActivation="true"
                      property="org.artop.ecl.emf.metaModelIdMatches"
                      value="org.artop.ecl.examples.sphinx" />
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject" />
                  <test property="org.artop.ecl.emf.classNameMatches"
                        value="org\.artop\.ecl\.examples\.sphinx\..*" />
               </and>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
