<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) Geensys and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    Geensys - Initial API and implementation

</copyright>
-->

<plugin>

    <!-- Example contraint categroy definition -->
  
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%constraintsCategory_examples_autosar3x.name"
            id="org.artop.aal.examples.constraints.category.autosar3x">
         %constraintsCategory_examples_autosar3x.description
      </category>
      <category
            name="%constraintsCategory_examples_autosar3x_dynamic.name"
            id="org.artop.aal.examples.constraints.category.autosar3x/dynamic">
         %constraintsCategory_examples_autosar3x_dynamic.description
      </category>
      <category
            name="%constraintsCategory_examples_autosar3x_static.name"
            id="org.artop.aal.examples.constraints.category.autosar3x/static">
         %constraintsCategory_examples_autosar3x_static.description
      </category>
   </extension> 

   <!-- The example contraints themselves -->

   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider cache="true">
      
       <package namespaceUri="http://autosar.org/3.1.5/autosar3x/gs/i/a"/>
       <package namespaceUri="http://autosar.org/3.1.5/autosar3x/gs/i/i"/>
       <package namespaceUri="http://autosar.org/3.1.5/autosar3x/ecucpd"/>
 
        <constraints categories="org.artop.aal.examples.constraints.category.autosar3x/static">
            <constraint
                  class="org.artop.aal.examples.autosar3x.constraints.ARPackageSpecificNamingConvention3xConstraint"
                  id="ARPackageSpecificNamingConvention_3x"
                  lang="Java"
                  mode="Live"
                  name="%ARPackageSpecificNamingConvention_3x.name"
                  severity="WARNING"
                  statusCode="101">
               <description>%ARPackageSpecificNamingConvention_3x.desc</description>
               <message>%ARPackageSpecificNamingConvention_3x.msg</message>
               <target class="ARPackage">
                  <event name="Set">
                     <feature name="shortName" />
                  </event>
                  <event name="Unset">
                    <feature name="shortName" />
                  </event>
               </target>
            </constraint>             
            
            <!-- TUTO: Modify this constraint such that it checks the uniqueness of Identifable shortNames rather than ModuleDef muliplicities -->
            <constraint
                  class="org.artop.aal.examples.autosar3x.constraints.ModuleDefMultiplicityShouldBeTheSame3xConstraint"
                  id="ModuleDefMultiplicityShouldBeTheSame_3x"
                  lang="Java"
                  mode="Live"
                  name="%ModuleDefMultiplicityShouldBeTheSame_3x.name"
                  severity="ERROR"
                  statusCode="102">
               <description>%ModuleDefMultiplicityShouldBeTheSame_3x.desc</description>
               <message>%ModuleDefMultiplicityShouldBeTheSame_3x.msg</message>
               <target class="ModuleDef">
                  <event name="Set">
                     <feature name="lowerMultiplicity" />
                     <feature name="upperMultiplicity" />
                  </event>
                  <event name="Unset">
                     <feature name="lowerMultiplicity" />
                     <feature name="upperMultiplicity" />
                  </event>
               </target>
            </constraint>
            
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Live"
                  name="Identifiable elements must have a valid shortName"
                  id="IdentifiableElementsMustHaveAValidShortName_3x"
                  statusCode="103">
               <description>All Identifiable elements must have a shortName with at least one but no more than 32 characters.</description>
               <message>The Identifiable \"{0}\" has no shortName or a shortName which is longer than 32 characters.</message>
               <target class="Identifiable">
                  <event name="Set">
                     <feature name="shortName"/>
                  </event>
                  <event name="Unset">
                    <feature name="shortName" />
                  </event>
               </target>
         
               <!-- TUTO: Modify this constraint such that it checks if shortName length is greater than 0 but less than or equal to 32 -->
               <![CDATA[
                  shortName.size() > 0 and shortName.size() <= 32
               ]]>
        
            </constraint>
            
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Live"
                  name="The shortName of Identifiable elements must be unique"
                  id="ShortNameOfIdentifiableElementsMustBeUnique_3x"
                  statusCode="104">
               <description>The shortNames of Identifiable elements within the same ARPackage must be unique.</description>
               <message>The Identifiable \"{0}\" has the same shortName as another Identifiable element within same ARPackage.</message>
               <target class="PackageableElement">
                  <event name="Set">
                     <feature name="shortName"/>
                  </event>
                  <event name="Unset">
                    <feature name="shortName" />
                  </event>
               </target>

               <![CDATA[
                  self.aRPackage.elements->select(e | e <> self and e.shortName = self.shortName)->isEmpty()
               ]]>
        
            </constraint>
         </constraints>    
      </constraintProvider>           
    </extension>

</plugin>
